p {
    font-size: 18px;
}

button {
    border: 1px solid black;
    height: 2em;
    font-size: 14px;
    width: 100px;

    margin: 10px 0;
}

nav {
    background-color: antiquewhite;
    width: 100%;
    height: 7vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-section input {
    border: 1px solid black;
    width: 50%;
    height: 2em;
}

textarea {
    border: 2px solid black;
}

.wrapper {
    width: 100vw;
}

.post {
    display: flex;
    flex-direction: column;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.post .user-container {
    display: flex;
}

.post .user-container .avatar-container {
    height: 50px;
    width: 50px;
}

.avatar-container .avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-image-container {
    width: 100vw;
    height: 50vh;
}

.post-image-container .post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile .user-container {
    display: flex;
}

.profile .user-container .avatar-container {
    height: 120px;
    width: 120px;
}

.like-box {
    display: flex;
    justify-content: space-between;
}
