p {
    font-size: 16px;
}

button {
    border: 1px solid black;
    height: 2em;
    font-size: 14px;
    /* width: 100px; */

    margin: 10px 0;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-section input {
    border: 1px solid black;
    width: 50%;
    height: 2em;
}

textarea {
    border: 2px solid black;
    font-size: 14px;
}

.wrapper {
    width: 100vw;
}

.avatar-container .avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.errors {
    width: 100%;
    position: absolute;
    background-color: red;
    color: white;
}

.messages {
    width: 100%;
    position: absolute;
    background-color: green;
    color: white;
}
