.post {
    display: flex;
    flex-direction: column;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.post .user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .user-container .avatar-container {
    height: 50px;
    width: 50px;
}

.post .like-box {
    display: flex;
    justify-content: space-between;
}

.post-image-container {
    width: 100vw;
    height: 50vh;
}

.post-image-container .post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post .comment-list {
    margin: 0;
}

.post textarea {
    border-radius: 5px 5px 5px 5px;
}

.post .comment-form {
    display: flex;
}

.comment-form .avatar-container {
    height: 40px;
    width: 40px;
}

.post .comment {
    background-color: #f7e9bf;
    border-radius: 5px 5px 5px 5px;
    margin: 3px;
    padding: 5px;

    display: flex;
    align-items: center;
}

.post .comment .avatar-container {
    height: 35px;
    width: 35px;
}

.post .comment p {
    max-width: calc(100% - 40px);
    margin: 2px 0;
}

.post .comment p span {
    margin: 0 5px;
    color: #3e3ea3;
    font-size: 18px;
}

.post .comment-list {
    padding-left: 5px;
}
